body {
    text-align: center;
    background-color: lightgray;
}

body, textarea, input {
    font-family: Helvetica, Arial;
    color: dimgray;
    border: none;
    text-align: left;
}

a {
    color: dimgray;
}

p {
    text-indent: 1.5em;
}

.section {
    width: 450px;
    margin: auto;
    overflow: auto;
    margin-bottom: 30px;
    padding: 30px;
}

.dark {
    background-color: lightgray;
    border-style: solid;
    border-width: 1px;
    border-color: dimgray;
}

.sectionbody {
    margin-top: 40px;
}

.step {
    text-transform: uppercase;
    position: absolute;
    margin-top: -50px;
    margin-left: -50px;
    background-color: dimgray;
    color: lightgray;
    padding: 20px;
    font-size: 20px;
}

.screenshot {
	width: 700px;
	margin-top: 30px;
	margin-bottom: 50px;
}

.small-screenshot {
	width: 100%;
	margin-top: 30px;
	margin-bottom: 10px;
}

@media (max-width: 700px) {
    .section {
        width: 70%;
    }

    .screenshot {
    	width: 100%;
	background-size: 100%;
    }
}
